/* styles.css */

body {
    margin: 0;
    overflow: hidden;
    background: #000; /* Change this to any background color you like */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows interactions with elements behind the snowflakes */
}

.snowflake {
    position: absolute;
    top: -50px;
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8; /* Adjust transparency */
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(110vh); /* Adjust this value to change how far the snowflakes fall */
    }
}
